.case {
    position: relative;
    z-index: 1;
    padding: 25px;
}

.case-body:hover .case-anchor {
    color: var(--main-blue-color);
}

.case .case-line-up {
    background-color: #F0EDEA;
    border-radius: 25px;
    width: 40%;
    height: 20px;
    position: relative;
}

.case-line-up .middle-line {
    width: 40vw;
    height: 0.2%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    border-color: #EBE3E3;
    opacity: 0.4;
}

.case-footer {
    display: flex;
}

.case-footer .case-footer-item {
    flex: 1;
}

.case-anchor {
    text-decoration: none;
    color: unset;
}

.case-anchor:hover {
    color: unset;
}

.close-up {
    width: 100%;
    position: relative;
}

.close-up::after {
    position: absolute;
    left: 5px;
    content: '';
    width: 2%;
    border-bottom: 1px solid lightgrey;
}

.close-up::before {
    position: absolute;
    right: 5px;
    content: '';
    width: 2%;
    border-bottom: 1px solid lightgrey;
}

