.block-box {
    min-width: 175px;
    height: 180px;
    box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.block {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.block .block-child {
    flex: 1 1 50%;
    text-align: center;
    align-self: stretch;
    overflow: hidden;

}

.seperation {
    margin: auto;
}

.as-column {
    flex-direction: column;
}

.seperation:nth-child(even) {
    border-left: 1px solid lightgrey;
}

.block span {
    vertical-align: center;
}

.padding-25 {
    padding: 25px;
}

.no-mark {
    text-decoration: none;
}

.no-mark:hover {
    color: unset;
}

.anchor {
    color: darkgrey;
}

/* font sizes */
.xx-large {
    font-size: xx-large;
}

.action {
    cursor: pointer;
}

.action :hover {
    color: var(--main-blue-color);
}
