.blur-container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.block-modal {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    border-radius: 15px;
}

.block-modal-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'icon date action'
    'content content content'
    'currentPrice buyPrice percent';
    gap: 25px;
}

.modal-icon {
    grid-area: icon;
    align-self: center;
    font-size: xxx-large;
    text-align: center;
}

.modal-date {
    grid-area: date;
    align-self: center;
    font-size: xxx-large;
}

.modal-action {
    grid-area: action;
}

.modal-content {
    grid-area: content;
    padding: 25px;
}

.modal-currentPrice {
    grid-area: currentPrice;
    border-radius: 15px;
}

.modal-buyPrice {
    grid-area: buyPrice;
}

.modal-content {
    border: 1px dashed #510ff8;
    border-radius: 15px;
}

.modal-percent {
    grid-area: percent;
}

/** Modal Global **/
.modal-footer {
    display: flex;
}

.modal-footer .item {
    flex: 1;
    height: 50%;
    text-align: center;
}

.x-large {
    font-size: x-large;
}

.large {
    font-size: large;
}
